.component-grid {
    height: var(--grid-height);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
    "daily graph graph"
    "daily graph graph"
    ". . ."; 

}

.component {
    margin: 1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 0em;
    
    color: white;
    position: relative;
}

.close-component {
    position: absolute;
    top: 0;
    right: 0;    
    background-color: black;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.close-component:hover { transform: scale(1.5);}


.daily { grid-area: daily; }
.graph { grid-area: graph; }