.inspector {
    background-color: black;
    border: solid white 1px;
}

.inspector-wrapper {
    display: flex;
}

.high-score {
    padding: 1em;
    border-right: solid white 1px;
}

.inspector-component {
    color: white;
    width: 50%;
    padding: 1em;
    
}