.map-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 100%;
    height: 100%;
}

.container {
    margin: 1em;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.data-point {
    background-color:aquamarine;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    transition: all ease-in-out .1s ;
    cursor: pointer;
}

.data-point:hover {
    transform: scale(1.3);
}


.info {
    position: absolute;
    padding: 1em;
    color: white;
    border-left: 5px solid blue;
    background-color: rgba(0, 0, 255, 0.212);
}



.line {
    background: 
         linear-gradient(to top left,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgb(255, 255, 255) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%);
}